body {
    margin: 0;
    padding: 0;
    background-color: #111827;
    color: #d9e6eb;
    font-family: "Chinese Quotes", Inter, ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}