doctype html
html(lang="en")

    head
        // Meta
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        // Title
        title Pinia | The intuitive store for Vue.js

        // Fav Icon
        link(rel="icon", href="./image/favicon/favicon.svg")

        // Tailwind CSS
        link(rel="stylesheet", href="./src/output.css")

    body 