.card-container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.card {
    width: 371px;
    height: 152px;
    background-color: #161F32;
    border-radius: ;
    padding: 24px;
    flex-direction: column;
    border-radius: 20px;
}