.header {
    display: flex;
    justify-content: space-around;
}

.pinia-title {
    font-size: 56px;
    font-weight: 700;
    background: -webkit-linear-gradient( 78deg, #f7d336 30%, #8ae99c );
    color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-text {
    font-size: 56px;
    font-weight: 700;
    margin: 0;
    width: 600px;
}

.p-text-second {
    font-size: 24px;
    font-weight: 700;
    color: #ebebf599;
}

.btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.get-btn {
    width: 118px;
    height: 40px;
    font-size: 14px;
    background: #ffd859;
    border-radius: 20px;
    border: none;
    font-weight: 500;
    color: #111827;
}

.demo-btn {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: #32363f;
    color: #d9e6eb;
    font-weight: 550;
}

.master-btn {
    width: 197px;
    height: 41px;
    border-radius: 20px;
    border: none;
    color: #d9e6eb;
    font-size: 14px;
    font-weight: 550;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    img {

    }
    span {

    }
}

.master-btn:hover {
    border: 1.5px solid #ffd859;
}

.btns-secund {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-pack {
    background: transparent;
    border: none;
    color: #d9e6eb;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.btn-pack:hover {
    border: 1.5px solid #ffd859;
}

.btn-p-1 {
    width: 231px;
    height: 40px;
}

.btn-p-2 {
    width: 245px;
    height: 40px;
}

.logo {
    padding-left: 60px;
    padding-top: 60px;
}


.image-bg {
    width: 320px;
    height: 320px;
    background-image: linear-gradient( 15deg, #f7d336 65%, #8ae99c 30% );
    filter: blur(75px);
    padding-left: 60px;
    padding-top: 60px;
}

.logo {
    padding-top: 35px;
    margin-left: 30px;
    position: relative;
    z-index: 1;
    top: -400px;
}
